$primary: #426CFF;

$white: #ffffff;
$black: #0A0A0A;
$gray: #1F1F1F;

$display: $black;
$subtext-white : rgba(255, 255, 255, 0.80);
$subtext-black : rgba(10, 10, 10, 0.80);
$subtext-black-secondary : rgba(10, 10, 10, 0.60);
